body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}
.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
  text-align: center;
}
ul, ol {
  padding-left: 20px;
}
ol li {
  cursor: pointer;
}
.bordered {
  border: 3px dotted orange;
}
.title-color {
  color: teal;
}
.text-underline {
  text-decoration: underline;
}
.text-overline {
  text-decoration: overline;
}
.is-done {
  text-decoration: line-through;
}


#buttons {
  text-align: center;
  margin: 20px 0;
}

#buttons button {
  background-color: pink;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
}

#buttons button:hover {
  background-color: #fdec00;
}

#buttons button:active {
  background-color: #a54710;
}